#cart-form input { max-width: 250px; }
#cart-detail .ui-li-desc { white-space: normal; }
dt { font-weight: bold; }
#line_items input { width: 3em; }
#line_items td { padding: 3px; background: #EEE; }
#updatecart #subtotal { text-align: right; margin: 2em 0.5em 0 0; }
.min-width-480px label.ui-input-text { width: 60%; }
.min-width-480px .ui-input-search { width: 90%; }
#checkout fieldset { margin-top: 2em; }
#checkout fieldset legend { font-weight: bold; }
#billing input, #shipping input { width: 100%; }
span.req { color: #D11; }
legend { font-size: 12pt; }

#checkout_form_address label {
  width: auto;
  margin-right: 0.5em;
}
#checkout_form_address .hidden { display: none; }

ol.progress-steps {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1em;
  font-size: 12px;
}

ol.progress-steps li {
  float: left;
  padding: 6px;
}

ol.progress-steps li.current-first, ol.progress-steps li.current {
  color: white;
  background-image: url(../images/step-progress/current-first.gif);
}

div#checkout-summary {
  border: #EEF 2px solid;
  background: #FFE;
  padding: 1em;
  margin-top: 1em;
}

.ui-header .ui-title .ui-link { color: white; text-decoration: none; }
.ui-header #home_link .ui-btn-inner { padding-left: 15px; }

.odd  { background: #FFE; }
.even { background: #EEF; }

dl#product-properties dd { padding-bottom: 0.5em; }

/* Margins */
form { margin: 0; }
#line_items p { margin: 0; }
#footer { margin: 0em 0.5em; }
.ui-listview-inset { margin: 1em 0.5em; }
.ui-content h3 { margin: 0 0 1.5em 0; }
.ui-content div.pagination { margin-top: 2em; }
.ui-header .ui-title { margin-left: 3em; margin-right: 8em; text-align: left; }
